<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ( '../../layout/head' ) %>
  </head>
  <body>
    <section>

      <% data.forEach( book => { %>

      <div>
      <img src=  "<%= book.image_url %>" alt="">
      <h2> <%= book.title %> </h2>
      <h3> <%= book.author %> </h3>
      <p> <%= book.description %> </p>
      </div>
      <% }) %>

    </section>
    
  </body>
</html>
